---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      <br>
      <blockquote class="highlight">
        <p>
        Thanks for making it this far! Did you like this blog post? <a target="_blank" rel="noopener noreferrer" href="https://www.buymeacoffee.com/FZlpnzU">Consider buying me a cup of coffee. :D</a>
       </p>
      </blockquote>
      <br>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
</main>
